// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

@import 'normalizecss/normalize.css'
@import 'prismjs/themes/prism-okaidia.css'
// Style using Bespoke Classes: https://github.com/markdalgleish/bespoke-classes

pre
	text-align left

#searchInput
	width 400px
